body {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
}

.container-center {
    display: flex;
    justify-content: center;
}

.loading-spinner.active .loading-spinner-icon {
    color: #FFCC48;
}

.loading-spinner.active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-spinner {
    display: none;
}

.btn-primary {
    background-color: #FFCC48;
    color: #000000;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #A0A0A0;
}

.btn-primary:active {
    background-color: #A0A0A0;
}

.btn-primary:not(:focus):not(:hover):not(:active) {
    background-color: #FFCC48;
}

.auth .btn-outline {
    border: 1px solid #FFCC48;
    color: #000000;
}

.auth .btn-outline:hover,
.auth .btn-outline:focus,
.auth .btn-outline:active {
    background-color: #A0A0A0;
}

.auth .btn-outline:focus {
    outline: none;
    box-shadow: none;
}

.contact p {
    color: #000000;
}

.bg-gray-800 {
    background-color: #FFCC48 !important;
}

nav a,
nav span {
    color: #000000;
}

.logo-img {
    width: 125px;
    height: auto;
}

.table-container {
    overflow-x: auto;
}

.table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
}

.table tbody tr:hover,
.table tbody th:hover,
.table tbody td:hover {
    background-color: #A0A0A0;
}