* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    color: #000000;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.custom-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black with 50% opacity */
    padding-top: 60px;
}

.custom-modal-content {
    background-color: #FFFFFF;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #FFCC48;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #000000;
}

.custom-modal-close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.custom-modal-close:hover,
.custom-modal-close:focus {
    color: #A0A0A0;
    text-decoration: none;
    cursor: pointer;
}

.custom-hidden {
    display: none;
}

.search-bar {
    position: relative;
    background-color: white;
    border: 2px solid #FFCC48;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.search-bar input {
    background-color: white;
    border: none;
    outline: none;
    flex-grow: 1;
    color: #000;
}

.search-bar input:focus {
    outline: none;
}

.search-bar i {
    color: gray;
    width: 1rem;
    height: 1rem;
    opacity: 0.7;
}

.search-dropdown {
    z-index: 1000;
    max-height: 240px;
    overflow-y: auto;
    width: calc(100% - 1rem);
    background-color: white;
    border: 1px solid #FFCC48;
    border-radius: 0.5rem;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-dropdown div {
    padding: 8px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}

.search-dropdown div:hover {
    background-color: #f1f1f1;
}

.search-dropdown div:active,
.search-dropdown div:focus {
    background-color: #A0A0A0;
    color: #FFF;
}

.side-panel {
    background-color: #FFCC48;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
}

.side-panel-ul {
    padding: 20px;
    max-height: 100vh;
}

.side-panel-li {
    list-style: none;
    margin-bottom: 20px;
}

.side-panel-a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-transform: capitalize;
    border-radius: 5px;
}

.side-panel-a:hover {
    background-color: #A0A0A0;
    color: #FFFFFF;
}

.side-panel-close {
    color: #000000;
}

.menu-bar-icon {
    color: #000000;
}

@media (max-width: 768px) {
    .side-panel {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
    }
}

.carousel {
    overflow: visible;
    padding-bottom: 20px;
    z-index: 5;
}

.carousel-item {
    position: relative;
    z-index: 10;
}

.category-section {
    position: relative;
    z-index: 1;
}

.custom-carousel-arrow {
    background-color: #FFCC48;
    color: #000000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.custom-carousel-arrow:hover {
    background-color: #A0A0A0;
    transform: scale(1.1);
}

.custom-carousel-arrow:active {
    background-color: #999999;
}

.left-arrow {
    position: absolute;
    left: 10px;
}

.right-arrow {
    position: absolute;
    right: 10px;
}

.footer {
    background-color: #FFCC48;
    color: black;
    width: 100%;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.footer-icons {
    font-size: 24px;
}

.link-footer {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.link-footer:hover,
.link-footer:focus,
.link-footer:active {
    color: gray;
    outline: none;
}

.avatar.placeholder .bg-neutral {
    background-color: #FFCC48;
}

.avatar.placeholder .text-neutral-content {
    color: #000000;
}

.bg-yellow-500 {
    width: 100%;
    background-color: #FFCC48;
}

.modal-box {
    background-color: white;
}

.modal-box-checkbox-outline {
    outline: 1px solid gray;
}

.input {
    width: 100%;
    height: 2.5rem;
    background-color: white;
    color: black;
    text-align: left;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding-left: 0.75rem;
}

.input:focus {
    outline: none;
    border-color: #FFCC48;
}

.select,
.textarea {
    background-color: white;
}

.select,
.textarea:focus {
    border-color: #FFCC48;
}

.file-input {
    background-color: #FFCC48;
}

.file-input:focus {
    border-color: #FFCC48;
}

.quantity-input {
    width: 9%;
    height: 2.5rem;
    background-color: white;
    color: black;
    text-align: center;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
}

.quantity-input:focus {
    outline: none;
    border-color: #FFCC48;
}

.cart-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #FFCC48;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
}

.cart-alert.show {
    opacity: 1;
}

.cart-alert.hidden {
    opacity: 0;
}

.search-bar {
    background-color: white;
    border: 2px solid #FFCC48;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.search-bar input {
    background-color: white;
    border: none;
    outline: none;
    flex-grow: 1;
}

.search-bar input:focus {
    outline: 2px solid white;
}

.search-bar i,
.auth i {
    color: gray;
    width: 1rem;
    height: 1rem;
    opacity: 0.7;
}

.product-item {
    margin-bottom: 20px;
}

.product-item .card-title {
    font-size: 1rem;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
    white-space: normal;
}

.product-item .card-title.long {
    font-size: 0.8rem;
    max-height: 6rem;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    white-space: normal;
}

.container-center {
    display: flex;
    justify-content: center;
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: gray;
    z-index: 1000;
}

.link-secondary {
    text-decoration: none;
    color: inherit;
}

.link-secondary:hover {
    color: gray;
}

.link-secondary:active {
    color: gray;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#content.show {
    display: block;
}

#content {
    display: none;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #FFCC48;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card:hover,
.card:focus {
    outline: 2px solid gray;
    background-color: #FFFFFF;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid gray;
}

.btn-primary {
    background-color: #FFCC48;
    color: #000000;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #A0A0A0;
}

.btn-danger {
    background-color: #ff5d48;
    color: #000000;
    border: none;
}

.btn-danger:hover,
.btn-danger:focus {
    background-color: #A0A0A0;
}

.btn-home,
.btn-cart {
    background-color: #FFCC48;
    color: #000000;
    border: none;
}

.btn-home:hover,
.btn-home:focus,
.btn-cart:hover,
.btn-cart:focus {
    background-color: #A0A0A0;
    color: #000000;
}

.sort-button {
    background-color: #FFCC48;
    color: #000000;
    border-radius: 15px;
    border-color: gray;
}

.sort-button:hover,
.sort-button:focus {
    background-color: #A0A0A0;
}

.dropdown-content {
    border: 1px solid #FFCC48;
    background-color: #FFCC48;
    color: #000000;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    min-width: 100%;
    z-index: 10;
    left: 0;
}

.dropdown-right {
    left: auto;
    right: 0;
}

.dropdown-content li {
    border-radius: 8px;
}

.dropdown-content li:hover,
.dropdown-content li:focus,
.dropdown-content li:active {
    background-color: #A0A0A0;
}

.dropdown-content li a:focus,
.dropdown-content li a:active {
    background-color: #A0A0A0;
    color: #000000;
    border-radius: 8px;
}

.pagination button:disabled {
    color: #000000;
    background-color: transparent;
}

.pagination button {
    background-color: #FFCC48;
    border: 1px solid #FFCC48;
    color: #000000;
}

.pagination button:hover,
.pagination button:focus {
    background-color: #A0A0A0;
    border: 1px solid #FFCC48;
}

.auth .btn-outline {
    border: 1px solid #FFCC48;
    color: #000000;
}

.auth .btn-outline:hover,
.auth .btn-outline:focus {
    background-color: #A0A0A0;
}

.btn-outline {
    border: 1px solid #FFCC48;
    color: #000000;
}

.btn-outline:hover,
.btn-outline:focus {
    background-color: #A0A0A0;
}

.contact p {
    color: #000000;
}

.bg-gray-800 {
    background-color: #FFCC48 !important;
}

nav a,
nav span {
    background-color: transparent;
    color: #000000;
}

img {
    color: #000000;
}

.logo-img {
    width: 125px;
    height: auto;
}

.card img {
    width: 253px;
    height: 253px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}