body {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
}

.main-content {
    flex: 1;
}

.product-item {
    margin-bottom: 20px;
}

.container-center {
    display: flex;
    justify-content: center;
}

.loading-spinner.active .loading-spinner-icon {
    color: #FFCC48;
}

.loading-spinner.active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-spinner {
    display: none;
}

#content.show {
    display: block;
}

#content {
    display: none;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #FFCC48;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover,
.card:focus {
    outline: 2px solid #000000;
    background-color: #FFFFFF;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #000000;
}

.btn-primary {
    background-color: #FFCC48;
    color: #000000;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #A0A0A0;
}

.sort-button {
    background-color: #FFCC48;
    color: #000000;
    border-radius: 15px;
}

.sort-button:hover,
.sort-button:focus {
    background-color: #A0A0A0;
}

.dropdown-content {
    border: 1px solid #FFCC48;
    background-color: #FFCC48;
    color: #000000;
    border-radius: 8px;
}

.dropdown-content li {
    border-radius: 8px;
}

.dropdown-content li:hover,
.dropdown-content li:focus,
.dropdown-content li:active {
    background-color: #A0A0A0;
}

.dropdown-content li a:focus,
.dropdown-content li a:active {
    background-color: #A0A0A0;
    color: #000000;
    border-radius: 8px;
}

.pagination button:disabled {
    color: #000000;
    background-color: transparent;
}

.pagination button {
    background-color: #FFCC48;
    border: 1px solid #FFCC48;
    color: #000000;
}

.pagination button:hover,
.pagination button:focus {
    background-color: #A0A0A0;
    border: 1px solid #FFCC48;
}

.auth .btn-outline {
    border: 1px solid #FFCC48;
    color: #000000;
}

.auth .btn-outline:hover,
.auth .btn-outline:focus {
    background-color: #A0A0A0;
}

.btn-outline {
    border: 1px solid #FFCC48;
    color: #000000;
}

.btn-outline:hover,
.btn-outline:focus {
    background-color: #A0A0A0;
}

.contact p {
    color: #000000;
}

.bg-gray-800 {
    background-color: #FFCC48 !important;
}

nav a,
nav span {
    background-color: transparent;
    color: #000000;
}

img {
    color: #000000;
}